* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.app {
    display: flex;
    padding: 10px 20px;
    justify-content: space-evenly;
}

ul,li {
    list-style: none;
}